.title {
  border-bottom: 1px solid var(--text-primary);
  padding: 8px;
  font-size: 14px;
  color: var(--text-primary);

}

.listContainer {
  background-color: var(--component-background);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  color: var(--text-primary);
}


.itemContainer {
  cursor: pointer;
  padding: 8px;
  border-bottom: 1px solid var(--component-border);
}

.itemContainer:hover {
  background-color: var(--hover);
}

.listContainer .itemContainer:last-child {
  border-bottom: none;
}
