.container {
    color: var(--primary);
    display: flex;
    justify-content: flex-end;
}

.toggleButton {
    background-color: #829AB1;
}

.linkContainer {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.linkContainer > * {
    padding: 10px;
}

.link {
    text-align: right;
}

@media only screen and (max-width: 992px) {
    .container {
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
    }
    .container > * {
        padding-right: 20px;
    }
    .linkContainer {
        flex-direction: column;
        font-size: xx-large;
    }
}