.cardContainer {
    padding: 5px;
    background-color: var(--secondary);
    width: 400px;
}

.nameBanner {
    background-color: var(--primary);
    height: 100px;
    grid-area: banner;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    bottom: -25px;

}

.name {
    color: var(--text-secondary);
    letter-spacing: 2px;
    z-index: 2;
    grid-area: name;
    margin-top: auto;
    margin-bottom: auto;
}

.pictureContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 350px;
    width: 350px;
    grid-area: biopic;
    z-index: 2;
}

.bioLayout {
    display: grid;
    position: relative;
    grid-template-rows: 150px max-content;
    grid-template-columns: auto 50px auto;
    grid-template-areas: 
        "biopic banner name"
        "biopic padding bio"
}

.textContainer {
    max-width: 800px;
    color: var(--text-primary);
    grid-area: bio;
}

@media only screen and (max-width: 992px) {
    .nameBanner {
        bottom: auto;
        height: 30vmin;
        margin-top: 30px;
        margin-bottom: 30px;
        left: 100%;

    }
    .name {
        font-size: medium;
    }
    .bioLayout {
    grid-template-rows: auto;
    grid-template-columns: min-content 50px auto;
    grid-template-areas: 
        "biopic banner name"
        "bio bio bio"

    }
    .pictureContainer {
        width: 30vmin;
        height: 30vmin;
    }
}