html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --primary: #BED0F7;
  --primary-text: #323F4B;
  --component-background: #E4E7EB;
  --component-border: #9AA5B1;
  --secondary: #7B8794;
  --background-primary: #9AA5B1;
  --background-secondary: #CBD2D9;
  --breakpoint: 992px;
  background-color: var(--background-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
